name: 'Build'

on:
  push:
    branches: '**'

  pull_request:
    branches: 'main'

  workflow_call:

  # workflow_dispatch:
  #   inputs:
  #     verbose_build:
  #       description: 'verbose build process'
  #       type: boolean
  #       required: true
  #       default: false

permissions:
  contents: read

jobs:
  build:
    name: 'Build & Test'

    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-22.04
        - ubuntu-20.04
        - macos-12
        - macos-11
        dc:
        - dmd-latest
        - ldc-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - uses: dlang-community/setup-dlang@v1
      with:
        compiler: ${{ matrix.dc }}

    - name: 'Cache dub packages'
      uses: actions/cache@v4
      with:
        path: |
          ~/.dub
        key: dub-packages-${{ matrix.os }}-${{ matrix.dc }}-${{ hashFiles('dub.selections.json') }}

    - name: 'dub build/lint/test'
      run: |
        dub_configuration=application

        if [[ -x /usr/bin/xcodebuild ]]; then
          /usr/bin/xcodebuild -version
          xcode_version="$(/usr/bin/xcodebuild -version | awk '/Xcode/ { print int($2) }')"
          if [[ $xcode_version -eq 15 ]]; then
            dub_configuration="application-xcode$xcode_version"
          else
            dub_configuration="application-xcode-older"
          fi
        fi

        # if [[ "${{ inputs.verbose_build }}" = "true" ]]; then
        #   uname -a
        #   $DC --version
        # fi

        dub build --compiler=$DC --build=release-debug --config=$dub_configuration # --verbose
        dub lint --compiler=$DC --config=$dub_configuration # --verbose
        dub test --compiler=$DC --config=$dub_configuration # --verbose

    - name: 'Upload binary'
      uses: actions/upload-artifact@v4
      with:
        name: myrc-${{ matrix.os }}-${{ matrix.dc }}
        path: myrc
        retention-days: 14
